<section id="uh-banner">
    <div class="container-fluid">
        <div class="vh-70 row justify-content-center align-items-center">
            <div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
                <h1 class="mb-3 mb-lg-4">WordPress Hosting</h1>
                <p>
                    Hosting khusus bagi Anda yang menggunakan CMS WordPress. Dilengkapi CloudPop untuk kinerja WordPress yang optimal.
                </p>
                <p class="mb-lg-5">
                    WordPress Hosting Indonesia yang dioptimalkan dengan CloudPOP.
                </p>
                <button class="btn btn-cta fw-normal px-5 rounded-pill py-2">
                    Mulai Sekarang
                </button>
            </div>
            <div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
                <div class="image-wrapper mx-auto ms-lg-auto"></div>
            </div>
        </div>
    </div>
</section>