<section id="wp-package">	
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-sm-6 col-lg-6 mb-3">
                <div class="card border-0 shadow p-5 rounded-4">
                    <div class="col-lg-12">								
                        <div class="img-wrapper rounded-4 p-3"></div>								
                        <div class="col-12 col-lg-12 text-center mt-4">
                            <h5 class="fw-bold">Cyber Data Center (SouthJKT-1)</h5>
                            <h6 class="fw-bold">Gedung Cyber 1 lt.3, Kuningan Barat, Jakarta Selatan</h6>
                        </div>
                        <div class="card-description">
                            <ul>
                                <li>Berlokasi di Pusat Data Center Jakarta</li>
                                <li>24/7 Support Layanan Pelanggan</li>
                                <li>24/7 Onsite & Offsite Staff Monitoring</li>
                                <li>Private Data Center Tier 3</li>
                                <li>24/7 Maximum Security, Akses Keamanan Bertingkat</li>
                                <li>Generator, Fire Extinguisher, Precision Air Conditioning Control</li>
                                <li>Multiple Premium Connection 10Gbps</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>			
            <div class="col-12 col-sm-6 col-lg-6 mb-3">
            <div class="card border-0 shadow p-5 rounded-4">
                <div class="col-lg-12">
                    <div class="img-wrapper rounded-4 p-3"></div>
                    <div class="col-12 col-lg-12 text-center mt-4">
                        <h5 class="fw-bold">MTEN Data Center (SouthJKT-2)</h5>
                        <h6 class="fw-bold">MTEN (Menara Tendean) lt.6, Kapten Tendean, Jakarta Selatan</h6>
                    </div>
                        <div class="card-description">
                            <ul>
                                <li>Data Center Tier 3</li> 
                                <li>Sertifikasi ISO 27001:2013</li> 
                                <li>24/7 Support Layanan Pelanggan</li> 
                                <li>24/7 Onsite & Offsite Staff Monitoring</li> 
                                <li>24/7 Maximum Security Akses Keamanan Bertingkat</li> 
                                <li>Generator, Fire Extinguisher, Precision Air Conditioning Control</li> 
                                <li>Multiple Premium Connection 10Gbps</li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>