<section id="vhp-migrasi-hosting" class="bg-qw-soft-primary-2">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="heading-section text-center">
                    Migrasi Hosting ke Qwords dan Buat Website Dengan Mudah
                </h2>
            </div>
        </div>
        <div class="row mt-3 mt-lg-5">
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div class="card border-0 card-migration shadow-lg rounded-4">
                    <div class="card-thumbnail"></div>
                    <div class="card-heading text-center mb-3 mb-lg-3">
                        <h5 class="fw-bold">Migrasi Gratis</h5>
                    </div>
                    <div class="card-description">
                        <p>
                            Pindahkan Hosting ke Qwords, proses aktivasi cepat dan tanpa
                            ribet. Anda akan dibantu migrasi oleh staff kami tanpa
                            tambahan biaya apapun.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="d-inline-block mt-auto">
                            <button class="btn btn-cta px-4 py-2">Selengkapnya</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div class="card border-0 card-migration shadow-lg rounded-4">
                    <div class="card-thumbnail"></div>
                    <div class="card-heading text-center mb-3 mb-lg-3">
                        <h5 class="fw-bold">Website Builder</h5>
                    </div>
                    <div class="card-description">
                        <p>
                            Nikmati Kemudahan membangun website secara instan dengan
                            fasilitas 1 Click Installer dari softaculous serta Qwords
                            Website Builder. Hanya dengan drag & drop didukung html5.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="d-inline-block mt-auto">
                            <button class="btn btn-cta px-4 py-2">Selengkapnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>