<section id="uh-banner">
    <div class="container-fluid">
        <div class="vh-70 row justify-content-center align-items-center">
            <div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
                <h1 class="mb-3 mb-lg-4">Colocation Server</h1>
                <p>
                    Qwords menyediakan rumah bagi server Anda yang diletakkan di Gedung Cyber 1 & Gedung Menara Tendean Jakarta Selatan. Fasilitas terbaik, Akses cepat dari seluruh dunia, full root access, 99% Uptime, 24 jam monitoring, cooling system terbaik, serta fire extinguisher.
                </p>
                <p class="mb-lg-5">
                    Dilengkapi layanan Easy Managed untuk pengelolaan sederhana, pemantauan, dan pengawasan penggunaan bandwidth, Ping, instalasi, dsb. Anda dapat fokus menjalankan website perusahaan tanpa memikirkan pengelolaan server. Dilengkapi pula dengan layanan Manage the Box untuk support server. Easy Managed, Extra Care for your Data!
                </p>
                <button class="btn btn-cta fw-normal px-5 rounded-pill py-2">
                    Mulai Sekarang
                </button>
            </div>
            <div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
                <div class="image-wrapper mx-auto ms-lg-auto"></div>
            </div>
        </div>
    </div>
</section>