<section id="product-nav-pills">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <h2 class="heading-section text-center">
                    Pilih <span class="text-qw-primary">Colocation Server</span> Indonesia Terbaik Untuk Kebutuhan Anda
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link px-5 active" id="pills-server-tab" data-bs-toggle="pill" data-bs-target="#pills-server" type="button" role="tab" aria-controls="pills-server" aria-selected="true">Colocation Server</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link px-5" id="pills-bandwith-tab" data-bs-toggle="pill" data-bs-target="#pills-bandwith" type="button" role="tab" aria-controls="pills-bandwith" aria-selected="false">Colocation No Bandwidth</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade mt-5 show active" id="pills-server" role="tabpanel" aria-labelledby="pills-server-tab">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">Intel Nuc/Mac Mini Colocation   </h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>IP Address</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mt-5" id="pills-bandwith" role="tabpanel" aria-labelledby="pills-bandwith-tab">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">VHP1</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-cta">Pesan Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <!--  Card Button Call Sales -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">8U Colocation</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">8U Colocation</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="card p-3 border-0 shadow-lg rounded-4">
                                    <div class="card-heading mb-2 d-flex align-items-center gap-2">
                                        <h5 class="fw-bold">8U Colocation</h5>
                                    </div>
                                    <div class="card-price">
                                        <small class="text-muted">Mulai Dari</small>
                                        <h4 class="fw-bold text-qw-primary">Rp 1.000.000</h4>
                                    </div>
                                    <div class="card-description">
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/Bandwidth.png
                                                    alt="Bandwidth.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>Power</div>
                                                <h6 class="fw-bold">450 Watt</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img
                                                    src=@@webRoot/assets/images/icons/core.png
                                                    alt="core.png"
                                                />
                                            </div>
                                            <div class="label-spec">
                                                <div>PSU</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network</div>
                                                <h6 class="fw-bold">Shared 100 Mbps Port</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <div class="icon-wrapper me-3 mb-2">
                                                <img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
                                            </div>
                                            <div class="label-spec">
                                                <div>Network Cable</div>
                                                <h6 class="fw-bold">1</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-5">
                                        <button class="btn btn-outline-qw-primary py-3">Call Sales</button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card Button Call Sales -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>