<section id="featured-card">
	<div class="container-fluid">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8">
				<h2 class="heading-section">
					Pilih Paket <span class="text-qw-primary">MailToGo</span> yang Sesuai Kebutuhan Anda
				</h2>
			</div>
		</div>
		<div class="row justify-content-center align-items-end mt-3 mt-lg-5" id="plr-card-list">
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card best-seller shadow-lg rounded-4 mh-515">
					<div class="best-seller-heading py-3">Banyak Dipesan</div>
					<div class="p-3">
						<div class="card-heading mb-2">
							<h5 class="fw-bold">WireHome Fiber 30
								<br/>30 Mbps</h5>
						</div>
						<div class="card-price">
							<p>Ideal digunakan hingga 6 perangkat secara bersamaan</p>
							<div class="h3 text-primary d-flex align-items-center fw-bold">
								<span class="rp-heading-small me-1 align-self-start">Rp</span>
								193.000
								<span
									class="fw-bold rp-heading-small align-self-end text-dark ms-1"
								>
									/ bulan</span
								>
							</div>
						</div>
						<div class="card-description mh-250 mb-4">
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
									/>
								</div>
								<div class="label-spec">
									<div>Bebas Fair Usage Policy (FUP) / Kuota Unlimited</div>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png" />
								</div>
								<div class="label-spec">
									<div>Bandwith</div>
									<h6 class="fw-bold">500 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
									/>
								</div>
								<div class="label-spec">
									<div>Akun Hosting</div>
									<h6 class="fw-bold">10 Akun</h6>
								</div>
							</div>
						</div>
						<div class="d-grid mt-auto">
							<button class="btn btn-primary">Pesan Sekarang</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 p-3 mh-515">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">WireHome Fiber 50
							<br/>50 Mbps</h5>
					</div>
					<div class="card-price">
						<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
							<span class="rp-heading-small me-1 align-self-start">Rp</span>
							193.000
							<span
								class="fw-bold rp-heading-small align-self-end text-dark ms-1"
							>
								/ bulan</span
							>
						</div>
					</div>
					<div class="card-description mh-250 mb-4">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
								/>
							</div>
							<div class="label-spec">
								<div>Disk Space 6 GB</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Bandwidth.png
								alt="Bandwidth.png" />
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">500 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Akun Hosting</div>
								<h6 class="fw-bold">10 Akun</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 p-3 mh-515">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">WireHome Fiber 100
							<br/>100 Mbps</h5>
					</div>
					<div class="card-price">
						<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
							<span class="rp-heading-small me-1 align-self-start">Rp</span>
							193.000
							<span
								class="fw-bold rp-heading-small align-self-end text-dark ms-1"
							>
								/ bulan</span
							>
						</div>
					</div>
					<div class="card-description mh-250 mb-4">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
								/>
							</div>
							<div class="label-spec">
								<div>Disk Space 6 GB</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Bandwidth.png
								alt="Bandwidth.png" />
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">500 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Akun Hosting</div>
								<h6 class="fw-bold">10 Akun</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
