<section id="mtg-integration">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-6 text-center">
				<h2 class="heading-section">MailToGo Integration</h2>
			</div>
		</div>
		<div class="image-list d-flex justify-content-center align-items-center my-5">
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/wp.png alt="wp.png">
			</div>
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/ps.png alt="ps.png">
			</div>
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/magento.png alt="magento.png">
			</div>
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/sf.png alt="sf.png">
			</div>
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/om.png alt="om.png">
			</div>
			<div class="img-wrapper">
				<img src=@@webRoot/assets/images/icons/email-suite/wc.png alt="wc.png">
			</div>
		</div>
		<div class="text-center">
			<a href="#" class="text-qw-primary text-decoration-none fw-bold">Lihat Semua Intergrasi</a>
		</div>
	</div>
</section>
