<section id="vhp-webhosting-table">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row text-center justify-content-center">
                    <div class="col-12 col-lg-10 mb-5">
                        <h2 class="heading-section">
                            Pilih Paket <span class="text-qw-primary">Cloud VPS KVM SSD</span> Terbaik
                        </h2>
                        <p class="mt-3">Cloud VPS yang lebih reliable dengan kernel-based virtual machine dan Enterprise Grade SSD Storage.</p>
                    </div>
                </div>
                <div class="table-responsive my-5">
                    <table class="table border border-white table-striped">
                        <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col" class="heading-col border-radius-top-col bg-primary py-3" style="width: 220px;">Banyak Dipesan</th>
                            <th scope="col" style="width: 220px;">&nbsp;</th>
                            <th scope="col" style="width: 220px;">&nbsp;</th>
                            <th scope="col" style="width: 220px;">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr>
                            <th scope="row"></th>
                            <td class="border-x-col-blue">
                                <div class="px-3 pt-3 pb-5">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <h4 class="fw-bolder">Cloud VPS KVM NANO SC</h4>
                                    </div>
									<div>
                                    <div class="mt-3 text-center">
                                        <small class="text-secondary">Harga per Bulan</small>
                                    </div>
									<div class="mt-3">
										<s><h6 class="fw-bold text-muted">Rp 100.000</h6></s>
									</div>
                                    <div class="h3 fw-bolder mb-3 d-flex align-items-center text-primary mt-4 justify-content-center">
                                        <span class="rp-heading-small me-1">Rp</span> 75.000
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button class="btn bg-primary text-white fw-light fs-6">Pesan</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="px-3 pt-3 pb-5">
                                    <div class="d-flex justify-content-center">
                                        <h4 class="fw-bolder">Cloud VPS KVM SC1</h4>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <small class="text-secondary">Harga per Bulan</small>
                                    </div>
									<div class="mt-3">
										<s><h6 class="fw-bold text-muted">Rp 135.000</h6></s>
									</div>
                                    <div class="h3 fw-bolder mb-3 d-flex align-items-center text-qw-primary mt-4 justify-content-center">
                                        <span class="rp-heading-small me-1">Rp</span> 75.000
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button class="btn bg-qw-primary text-white fw-light fs-6">Pesan</button>
                                    </div>
                                </div>
                            </td>
							<td>
                                <div class="px-3 pt-3 pb-5">
                                    <div class="d-flex justify-content-center">
                                        <h4 class="fw-bolder">Cloud VPS KVM SC2</h4>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <small class="text-secondary">Harga per Bulan</small>
                                    </div>
									<div class="mt-3">
										<s><h6 class="fw-bold text-muted">Rp 220.000</h6></s>
									</div>
                                    <div class="h3 fw-bolder mb-3 d-flex align-items-center text-qw-primary mt-4 justify-content-center">
                                        <span class="rp-heading-small me-1">Rp</span> 150.000
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button class="btn bg-qw-primary text-white fw-light fs-6">Pesan</button>
                                    </div>
                                </div>
                            </td>
							<td>
                                <div class="px-3 pt-3 pb-5">
                                    <div class="d-flex justify-content-center">
                                        <h4 class="fw-bolder">Cloud VPS KVM SC1</h4>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <small class="text-secondary">Harga per Bulan</small>
                                    </div>
									<div class="mt-3">
										<s><h6 class="fw-bold text-muted">Rp 390.000</h6></s>
									</div>
                                    <div class="h3 fw-bolder mb-3 d-flex align-items-center text-qw-primary mt-4 justify-content-center">
                                        <span class="rp-heading-small me-1">Rp</span> 370.000
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button class="btn bg-qw-primary text-white fw-light fs-6">Pesan</button>
                                    </div>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Kapasitas
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">7 GB</td>
                            <td class="py-3">9 GB</td>
                            <td class="py-3">11 GB</td>
                            <td class=" py-3">13 GB</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Akun Email
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">3</td>
                            <td class="py-3">3</td>
                            <td class="py-3">10</td>
                            <td class=" py-3">Unlimited</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Addon/Parked
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">1 / 1</td>
                            <td class=" py-3">2 / 2</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    RAM
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">500 MB</td>
                            <td class="py-3">600 MB</td>
                            <td class="py-3">1 GB</td>
                            <td class=" py-3">1 GB</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    CPU Core
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">1 Core</td>
                            <td class="py-3">0.5 Core</td>
                            <td class="py-3">1 Core</td>
                            <td class=" py-3">1 Core</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Akun FTP
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">1</td>
                            <td class="py-3">2</td>
                            <td class="py-3">5</td>
                            <td class=" py-3">Unlimited</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Subdomain
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">2</td>
                            <td class="py-3">2</td>
                            <td class="py-3">5</td>
                            <td class=" py-3">Unlimited</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Database
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">2</td>
                            <td class="py-3">2</td>
                            <td class="py-3">5</td>
                            <td class=" py-3">15</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Boost Power
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">Ya (cPanel)</td>
                            <td class="py-3">Ya (cPanel)</td>
                            <td class="py-3">Ya (cPanel)</td>
                            <td class=" py-3">Ya (cPanel)</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Clients / Minute
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">< 300</td>
                            <td class="py-3">< 300</td>
                            <td class="py-3">< 600</td>
                            <td class=" py-3">< 600</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    PHP Memory
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">160 MB</td>
                            <td class="py-3">160 MB</td>
                            <td class="py-3">160 MB</td>
                            <td class=" py-3">160 MB</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Entry Process
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">15</td>
                            <td class="py-3">15</td>
                            <td class="py-3">20</td>
                            <td class=" py-3">25</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    I / O
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">1 MB</td>
                            <td class="py-3">1 MB</td>
                            <td class="py-3">1 MB</td>
                            <td class=" py-3">1 MB</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Inodes
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">70.000</td>
                            <td class="py-3">70.000</td>
                            <td class="py-3">120.000</td>
                            <td class=" py-3">170.000</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Maks Email / Jam
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">45</td>
                            <td class="py-3">45</td>
                            <td class="py-3">80</td>
                            <td class=" py-3">240</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Remote MySQL
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class=" py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    SSH
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class=" py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Dev Tools
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class=" py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Litespeed
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">LSAPI</td>
                            <td class="py-3">LSAPI</td>
                            <td class="py-3">LSAPI</td>
                            <td class=" py-3">LSAPI</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Tipe Disk
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">Hybrid</td>
                            <td class="py-3">Hybrid</td>
                            <td class="py-3">Hybrid</td>
                            <td class=" py-3">Hybrid</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    WP Manager
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class=" py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Web builder
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                            <td class=" py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Backup
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">Dwi Minggu</td>
                            <td class="py-3">Dwi Minggu</td>
                            <td class="py-3">Dwi Minggu</td>
                            <td class=" py-3">Mingguan</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Backup Harian
                                </div>
                            </th>
                            <td class="border-x-col-blue py-3">Rp 15.000 / bulan</td>
                            <td class="py-3">Rp 15.000 / bulan</td>
                            <td class="py-3">Rp 20.000 / bulan</td>
                            <td class=" py-3">Rp 20.000 / bulan</td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-start">
                                <div class="p-3 me-3">
                                    Backup Harian
                                </div>
                            </th>
                            <td class="border-xb-col-blue py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/close.png" alt="">
                            </td>
                            <td class="py-3">
                                <img src="./assets/images/icons/check-line.png" alt="">
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>