<section id="wp-trial">
	<div class="container-fluid">
		<div id="wp-trial-container">
			<div class="row align-items-center">
				<div class="col-md-6 px-md-5 px-0 mb-md-0 mb-5">
					<div class="img-wrapper"></div>
				</div>
				<div class="col-md-6 px-md-5 px-0">
					<h2 class="heading-section">
						Miliki kesempatan untuk mempunyai <span class="text-qw-primary">Dedicated Server</span> sendiri
					</h2>
					<p class="mt-3">
						Lease to Owned Dedicated Server adalah sebuah program dimana Anda dapat menyewa server dan dapat memiliki server tersebut sepenuhnya setelah masa sewa berakhir.
						<br />
						<br />
						Penggunaan daya dan bandwidth termasuk dalam harga selama periode sewa awal. Setelah masa sewa, Anda dapat memilih untuk mengambil berupa server fisik atau mengubahnya menjadi layanan Colocation Server dan meletakkannya di Data Center kami.
					</p>
					<div class="d-inline-block mt-3">
						<button class="btn btn-cta px-4 py-2">Hubungi Kami</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
