<section id="wp-trial">
    <div class="container-fluid">
        <div id="wp-trial-container">
            <div class="row">
                <div class="col-md-4 px-md-5 px-0 mb-md-0 mb-5">
                    <div class="img-wrapper h-100"></div>
                </div>
                <div class="col-md-8 px-md-5 px-0">
                    <p>Layanan untuk entrepreneur web yang ingin mendapatkan penghasilan dari berjualan web hosting, atau anda web developer yang ingin memiliki web hosting sendiri, untuk klien Anda.</p>
                    <p class="fw-bolder">NO minimum Contract, Monthly Fee, Upgradeable, Anonymous</p>
                    <p>Harga tercantum di halaman ini belum termasuk Pajak Pemerintah.</p>
                    <div class="mt-3">
                        <span class="fw-bolder">FREE :</span>
                        <ul>
                            <li>SETUP FEE</li>
                            <li>Private Name Server ( ns1.domainanda.com; ns2.domainanda.com)</li>
                            <li>WHM Control Panel Administration</li>
                            <li>Unlimited Email Account</li>
                            <li>Unlimited FTP Account</li>
                            <li>Unlimited Database</li>
                        </ul>
                    </div>
                    <div class="mt-3">
                        <span class="fw-bolder">Additional :</span>
                        <ul>
                            <li>WHMCS Lisence = Rp.180.000/Bulan (Branding) / Rp.200.000/Bulan (Non Branding)</li>
                            <li>1 Public Dedicated IP Address = Rp.100.000/Bulan</li>
                            <li>Overusage Bandwidth = Rp.20.000/GB/Bulan</li>
                            <li>Downgrade = Rp.25.000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>