<section id="uh-product">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div id="product-container" class="px-lg-5 px-0">
					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Gratis Domain</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Gratis SSL Certificate</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Website Builder</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Website Builder</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Unlimited Diskspace</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Unlimited Bandwidth</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Unlimited FTP / Email</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6 my-5">
							<div
								class="d-flex flex-column justify-content-center align-items-center"
							>
								<div class="icon-soft-primary-1"></div>
								<div class="text-center mt-3">
									<span class="fw-bolder">Unlimited Database</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>