<section id="vhp-banner">
	<div class="container-fluid">
		<div class="vh-70 row justify-content-center align-items-center">
			<div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
				<h1 class="mb-3 mb-lg-4">Hosting Murah dengan Performa Optimal</h1>
				<p>
					Value Hybrid Performance merupakan paket Cloud Hosting Indonesia
					yang dirancang khusus untuk keperluan sederhana seperti UKM, toko
					online, blog, website sederhana, hingga email untuk penggunaan
					personal.
				</p>
				<p class="mb-lg-5">
					Hosting Murah dari Qwords untuk pengguna baru website atau Anda
					yang baru terjun ke dalam industri/bisnis online. Storage sesuai
					kebutuhan, fleksibel, dan ekstra lega mulai 3 GB hingga 25 GB.
				</p>

				<button class="btn btn-cta rounded-pill mb-1 py-2 fw-normal px-5">
					Mulai Sekarang
				</button>
				<div class="ms-4 text-muted small fst-italic ps-1">
					*Pssst.. Lagi promo loh!
				</div>
			</div>
			<div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
				<div class="image-wrapper mx-auto ms-lg-auto"></div>
			</div>
		</div>
	</div>
</section>