<section id="bw-ads">
	<div class="container-fluid">
		<div class="bw-ads-banner p-5">
			<div class="h-100 row align-items-center">
				<div class="col-12 col-sm-5 col-lg-6">
					<div class="img-wrapper mx-auto">
						<img src=@@webRoot/assets/images/shapes/desktop.png
						alt="desktop.png" />
					</div>
				</div>
				<div class="col-12 col-sm-7 col-lg-5 mb-4 mb-lg-0">
					<div class="h2 ads-heading mb-3">
						Miliki kesempatan untuk mempunyai
						<span class="text-qw-primary">Dedicated Server</span> sendiri
					</div>
					<p class="my-5">
						Lease to Owned Dedicated Server adalah sebuah program dimana Anda
						dapat menyewa server dan dapat memiliki server tersebut sepenuhnya
						setelah masa sewa berakhir.
						<br />
						<br />
						Penggunaan daya dan bandwidth termasuk dalam harga selama periode
						sewa awal. Setelah masa sewa, Anda dapat memilih untuk mengambil
						berupa server fisik atau mengubahnya menjadi layanan Colocation
						Server dan meletakkannya di Data Center kami.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
