<section id="featured-card">
	<div class="container-fluid">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8">
				<h2>
					Pilih Paket
					<span class="text-qw-primary">Reseller Hosting Indonesia</span>
					Terbaik & Termurah
				</h2>
			</div>
		</div>
		<div
			class="row justify-content-center align-items-end mt-3 mt-lg-5"
			id="plr-card-list"
		>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="card best-seller shadow-lg rounded-4">
					<div class="best-seller-heading p-3">Banyak Dipesan</div>
					<div class="p-3">
						<div class="card-heading mb-3">
							<h5 class="fw-bold">
								Dell R620 1U Size - Dual Processor Xeon E5-2620 V2 (12 Core 24
								Thread 2.1Ghz)
							</h5>
						</div>
						<div class="card-price my-3">
							<h6 class="text-muted">Mulai dari</h6>
							<div class="h3 text-primary d-flex align-items-center fw-bold">
								<span class="rp-heading-small me-1 align-self-start">Rp</span>
								3.000.000
							</div>
						</div>
						<div class="card-description mb-4">
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
									/>
								</div>
								<div class="label-spec">
									<div>Disk Space 6 GB</div>
									<h6 class="fw-bold">3 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png" />
								</div>
								<div class="label-spec">
									<div>Bandwith</div>
									<h6 class="fw-bold">500 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
									/>
								</div>
								<div class="label-spec">
									<div>Akun Hosting</div>
									<h6 class="fw-bold">10 Akun</h6>
								</div>
							</div>
						</div>
						<div class="d-grid mt-auto">
							<button class="btn btn-primary">Pesan Sekarang</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="card border-0 shadow-lg rounded-4">
					<div class="p-3">
						<div class="card-heading mb-2">
							<h5 class="fw-bold">
								Dell R720 1U Size - Dual Processor Xeon E5-2620 V2 (12 Core 24
								Thread 2.1Ghz)
							</h5>
						</div>
						<div class="card-price my-3">
							<h6 class="text-muted">Mulai dari</h6>
							<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
								<span class="rp-heading-small me-1 align-self-start">Rp</span>
								3.450.000
							</div>
						</div>
						<div class="card-description mb-4">
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
									/>
								</div>
								<div class="label-spec">
									<div>Disk Space 6 GB</div>
									<h6 class="fw-bold">3 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png" />
								</div>
								<div class="label-spec">
									<div>Bandwith</div>
									<h6 class="fw-bold">500 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
									/>
								</div>
								<div class="label-spec">
									<div>Akun Hosting</div>
									<h6 class="fw-bold">10 Akun</h6>
								</div>
							</div>
						</div>
						<div class="d-grid mt-auto">
							<button class="btn btn-cta">Pesan Sekarang</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="card border-0 shadow-lg rounded-4">
					<div class="p-3">
						<div class="card-heading mb-2">
							<h5 class="fw-bold">Dell R630 1U Size - Dual Processor Xeon E5-2680 V3 (12 Core 48 Thread 2.1Ghz)</h5>
						</div>
						<div class="card-price my-3">
							<h6 class="text-muted">Mulai dari</h6>
							<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
								<span class="rp-heading-small me-1 align-self-start">Rp</span>
								193.000
							</div>
						</div>
						<div class="card-description mb-4">
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
									/>
								</div>
								<div class="label-spec">
									<div>Disk Space 6 GB</div>
									<h6 class="fw-bold">3 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png" />
								</div>
								<div class="label-spec">
									<div>Bandwith</div>
									<h6 class="fw-bold">500 GB</h6>
								</div>
							</div>
							<div class="d-flex align-items-center mt-3">
								<div class="icon-wrapper me-3 mb-2">
									<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
									/>
								</div>
								<div class="label-spec">
									<div>Akun Hosting</div>
									<h6 class="fw-bold">10 Akun</h6>
								</div>
							</div>
						</div>
						<div class="d-grid mt-auto">
							<button class="btn btn-cta">Pesan Sekarang</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
