<section id="vhp-qna">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<h2 class="heading-section text-center">
					Pertanyaan Seputar Lease to
					Owned 
					<span class="text-qw-primary">Dedicated Server</span>
				</h2>
			</div>
		</div>
		<div class="row mt-3 mt-lg-5">
			<div class="col-12">
				<div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                            >
							Apa perbedaan Leased to Owned Dedicated Server dengan menyewa Dedicated Server biasa?
                            </button>
                        </h2>
                        <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <p>
									Lease to Owned Dedicated Server adalah sebuah program dimana Anda dapat menyewa server dan dapat memiliki server tersebut sepenuhnya setelah masa sewa berakhir. Penggunaan daya dan bandwidth termasuk dalam harga selama periode sewa awal. Setelah masa sewa, Anda dapat memilih untuk mengambil berupa server fisik atau mengubahnya menjadi layanan Colocation Server dan meletakkannya di Data Center Qwords
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
