<section id="vhp-benefit-hosting">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<h2 class="heading-section">
					Fitur Unggulan <span class="text-qw-primary">Microsoft 365 Qwords</span>
				</h2>
			</div>
		</div>
		<div class="row mt-3 mt-lg-5">
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Buka Aplikasi dimana saja</h5>
					<div class="benefit-description">
						Aplikasi office bisa dibuka dimana saja kapan saja.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">99.9% Uptime</h5>
					<div class="benefit-description">
						Layanan tersedia setiap saat kapanpun Anda butuhkan.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Support 24/7</h5>
					<div class="benefit-description">
						Dukungan dari tim support kami siap setiap saat Anda menemui kesulitan.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Cloud Storage OneDrive</h5>
					<div class="benefit-description">
						1 TB cloud storage untuk simpan dan akses dokumen anda.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Lintas Platform</h5>
					<div class="benefit-description">
						Untuk user multi-platform yang sering berganti operating system.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Real-time editing pada Word</h5>
					<div class="benefit-description">
						Memungkinkan mengedit dokumen secara bersamaan.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>