<section class="extensions-card">
	<div class="container-fluid">
		<div class="row text-center justify-content-center mb-5">
			<div class="col-12 col-lg-8">
				<h2>
					Ekstensi Domain yang <span class="text-qw-primary">Sedang Promo</span>
				</h2>
			</div>
		</div>
		<div class="row justify-content-end mb-5">
			<div class="col-lg-3 col-md-4 col-sm-7 col-8 my-4">
				<select class="form-select bg-qw-soft-primary-1 text-qw-primary border-0 py-2 px-3 rounded-2" aria-label="Default select example">
					<option value="1" selected>Urutkan Berdasarkan Harga </option>
					<option value="2">Urutkan Berdasarkan Nama</option>
				  </select>
			</div>
		</div>
		<div class="row justify-content-center gap-2">
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<nav class="d-flex justify-content-end" aria-label="...">
					<ul class="pagination">
					  <li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Sebelumnya</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item active" aria-current="page">
						<a class="page-link" href="#">2</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item">
						<a class="page-link" href="#">Selanjutnya</a>
					  </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<section class="extensions-card bg-qw-soft-primary-2">
	<div class="container-fluid">
		<div class="row text-center justify-content-center mb-5">
			<div class="col-12 col-lg-8">
				<h2>
					Ekstensi Domain <span class="text-qw-primary">Popular</span>
				</h2>
			</div>
		</div>
		<div class="row justify-content-end mb-5">
			<div class="col-lg-3 col-md-4 col-sm-7 col-8 my-4">
				<select class="form-select bg-qw-soft-primary-1 text-qw-primary border-0 py-2 px-3 rounded-2" aria-label="Default select example">
					<option value="1" selected>Urutkan Berdasarkan Harga </option>
					<option value="2">Urutkan Berdasarkan Nama</option>
				  </select>
			</div>
		</div>
		<div class="row justify-content-center gap-2">
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-3 col-xxl-2 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<h5>.ac</h5>
					</div>
					<div class="card-price mb-4">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<nav class="d-flex justify-content-end" aria-label="...">
					<ul class="pagination">
					  <li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Sebelumnya</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item active" aria-current="page">
						<a class="page-link" href="#">2</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item">
						<a class="page-link" href="#">Selanjutnya</a>
					  </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>