<section id="main-banner" class="bg-qw-banner-gradient-primary mt-5">
	<div class="container-fluid">
		<div class="row vh-70 align-items-center justify-content-center">
			<div class="col-12">
				<div class="text-center py-5">
					<h1>
						Domain <span class="text-qw-primary">Premium .ID</span>
					</h1>
					<div class="d-flex justify-content-center">
						<p class="mb-0 mt-3">
							Domain Premium .ID adalah domain .ID yang dijual dengan nilai yang lebih tinggi dikarenakan TLD .ID yang tergolong masih baru sehingga registry menjadikan domain tersebut sebagai Premium Domain. Domain ini cenderung pendek sehingga mudah diingat dan terdiri dari kata kunci yang dicari banyak orang di Internet setiap harinya.
						</p>
					</div>
				</div>
			</div>
			<section id="banner-search-domain">
				<div class="row">
					<div class="col-12">
						<div id="inner-search-domain">
							<div class="text-center w-100 search-wrapper">
								<form class="row">
									<div class="col-7 col-lg-8">
										<div class="input-group input-group-lg">
											<input
												type="text"
												class="form-control border-0"
												name="domain"
												id="domain"
												placeholder="Cari nama domain Anda"
											/>
										</div>
									</div>
									<div class="col-5 col-lg-2">
										<div class="input-group input-group-lg">
											<select id="inputState" class="form-select border-0">
												<option selected>Choose...</option>
												<option>...</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-lg-2 mt-3 mt-lg-0">
										<div class="d-grid">
											<button class="btn btn-lg-cta btn">Cari</button>
										</div>
									</div>
								</form>
								<div class="discount-box mt-3">
									<div class="row">
										<div class="col-12 col-lg-6">
											<div class="row">
												<div class="col-4 col-lg-4 col-xxl-4">
													<div class="card-discount">
														<div class="tld">.com</div>
														<div class="price">Rp. 135.000</div>
													</div>
												</div>
												<div class="col-4 col-xl-4 col-xxl-4">
													<div class="card-discount">
														<div class="tld">.id</div>
														<div class="price">Rp. 225.000</div>
													</div>
												</div>
												<div class="col-4 col-lg-4 col-xxl-4">
													<div class="card-discount">
														<div class="tld">.com</div>
														<div class="price">Rp. 77.000</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
		</div>
	</div>
</section>