<section id="uh-banner">
	<div class="container-fluid">
		<div class="vh-70 row justify-content-center align-items-center">
			<div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
				<h1 class="mb-3 mb-lg-4">Email Cloud Collaboration Suite</h1>
				<p class="mb-lg-5">
					Layanan email kolaborasi dengan teknologi Cloud Computing dari Qwords. Membuat produktivitas kerja lebih optimal karena dapat berbagi file secara live, edit dokumen secara real-time, hingga mengatur jadwal dengan banyak anggota dimana saja & kapan saja. Miliki email profesional dengan nama Domain sendiri. Kapasitas storage 25GB, serta mampu menampung hingga 1000 akun.
				</p>
				<button class="btn btn-cta py-2 rounded-pill fw-normal px-5">
					Mulai Sekarang
				</button>
			</div>
			<div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
				<div class="image-wrapper mx-auto ms-lg-auto"></div>
			</div>
		</div>
	</div>
</section>