<section id="uh-banner">
    <div class="container-fluid">
        <div class="vh-70 row justify-content-center align-items-center">
            <div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
                <h1 class="mb-3 mb-lg-4">Server untuk Sekolah Go Online</h1>
                <p>
                    Demi menunjang kelancaran kegiatan belajar mengajar secara daring, diperlukan infrastruktur yang baik untuk website sekolah. Gunakan Server yang dilengkapi dengan MOODLE (Modular Object-Oriented Dynamic Learning Environment). Sebuah platform yang digunakan untuk menunjang sistem manajemen pembelajaran secara online.
                </p>
                <p class="mb-lg-5">
                    Server Sekolah dapat dimanfaatkan untuk: e-learning - ujian sekolah - administrasi sekolah - komunikasi antara pengajar dan wali murid - PPDB.
                </p>
                <button class="btn btn-cta fw-normal px-5 rounded-pill py-2">
                    Mulai Sekarang
                </button>
            </div>
            <div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
                <div class="image-wrapper mx-auto ms-lg-auto"></div>
            </div>
        </div>
    </div>
</section>