<section id="vhp-benefit-hosting">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-9 text-center">
				<h2 class="heading-section">
					Fitur Unggulan <span class="text-qw-primary">Server Sekolah</span>
				</h2>
			</div>
		</div>
		<div class="row mt-3 mt-lg-5">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Harga Ekonomis</h5>
					<div class="benefit-description">
						Paket Cloud Hosting harga paling hemat dengan performa optimal
						yang sesuai dengan kebutuhan.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Boost Power</h5>
					<div class="benefit-description">
						Tingkatkan kecepatan Hosting 2 kali lipat saat dibutuhkan. Test
						plugin, import/export data, hingga event Flash Sale tanpa
						kendala. GRATIS 30 menit per bulan. (Tersedia di versi cPanel)
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Up to 25GB Disk Space</h5>
					<div class="benefit-description">
						Paket Hosting paling ekonomis dari Qwords dengan kapasitas
						penyimpanan hingga 25GB.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">SEO/Marketing Tools</h5>
					<div class="benefit-description">
						Tingkatkan peringkat website anda di Google menggunakan
						SEO/Marketing Tools secara konsisten dan teratur.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Easy DIY Website Tools</h5>
					<div class="benefit-description">
						Tersedia Qwords Web Builder & WordPress Premium Templates (VHP
						2, 3 & 4) dengan fitur drag & drop. Plus fitur 1 click installer
						untuk kemudahan membangun website.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Hybrid SSD</h5>
					<div class="benefit-description">
						Didukung dengan teknologi Hybrid SSD yang membuat website cepat
						diakses di seluruh dunia.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Gratis Migrasi dari Provider Manapun</h5>
					<div class="benefit-description">
						Segera hubungi Customer Support kami untuk mendapatkan Gratis
						Migrasi Hosting dari provider manapun.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Select PHP Version</h5>
					<div class="benefit-description">
						Bebas pilih versi PHP yang anda perlukan dengan mudah dan tanpa
						delay.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Multiple Domain (VHP 2, 3 & 4)</h5>
					<div class="benefit-description">
						Didukung dengan teknologi Hybrid SSD yang membuat website cepat
						diakses di seluruh dunia.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Cloud Based Hosting</h5>
					<div class="benefit-description">
						Hosting Anda akan menggunakan Cloud Based Hosting sehingga dalam
						segi skalabilitas akan jauh lebih tinggi dibandingkan dengan
						Shared Hosting biasa.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">Unlimited Email (VHP 3 & 4)</h5>
					<div class="benefit-description">
						Sesuai untuk kebutuhan perusahaan yang membutuhkan akun email
						tanpa batas.
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-5">
				<div class="card-benefit">
					<div class="icon-placeholder"></div>
					<h5 class="my-3 fw-bold">
						Free Domain, SSL and Spam Filter (VHP 3 & 4)
					</h5>
					<div class="benefit-description">
						Dapatkan Nama Domain, Sertifikat SSL, dan Spam Filter Gratis*
					</div>
				</div>
			</div>
		</div>
	</div>
</section>