<section id="uh-banner">
	<div class="container-fluid">
		<div class="vh-70 row justify-content-center align-items-center">
			<div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
				<h1 class="mb-3 mb-lg-4">Teknologi Fiber & Wireless Super Cepat</h1>
				<p class="mb-lg-5">
					Saatnya bebaskan dirimu dengan koneksi internet cepat, anti ngelag, tanpa batasan. Browsing, main game, media sosial, nonton film sepuasnya tanpa buffering.
				</p>
				<button class="btn btn-cta py-2 rounded-pill fw-normal px-5">
					Mulai Sekarang
				</button>
			</div>
			<div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
				<div class="image-wrapper mx-auto ms-lg-auto"></div>
			</div>
		</div>
	</div>
</section>