<section id="featured-card">
	<div class="container-fluid">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8">
				<h2>
					Pilih Broadband <span class="text-qw-primary">Internet Rumah</span> Terbaik Untuk Kebutuhan Anda
				</h2>
			</div>
		</div>
		<div class="row justify-content-center align-items-end mt-3 mt-lg-5" id="plr-card-list">
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 mh-400 p-3">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">PVTR-A</h5>
					</div>
					<div class="card-price">
						<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
							<span class="rp-heading-small me-1 align-self-start">Rp</span>
							193.000
							<span
								class="fw-bold rp-heading-small align-self-end text-dark ms-1"
							>
								/ bulan</span
							>
						</div>
					</div>
					<div class="card-description mb-4">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
								/>
							</div>
							<div class="label-spec">
								<div>Disk Space 6 GB</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Bandwidth.png
								alt="Bandwidth.png" />
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">500 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Akun Hosting</div>
								<h6 class="fw-bold">10 Akun</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 mh-400 p-3">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">PVTR-A</h5>
					</div>
					<div class="card-price">
						<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
							<span class="rp-heading-small me-1 align-self-start">Rp</span>
							193.000
							<span
								class="fw-bold rp-heading-small align-self-end text-dark ms-1"
							>
								/ bulan</span
							>
						</div>
					</div>
					<div class="card-description mb-4">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
								/>
							</div>
							<div class="label-spec">
								<div>Disk Space 6 GB</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Bandwidth.png
								alt="Bandwidth.png" />
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">500 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Akun Hosting</div>
								<h6 class="fw-bold">10 Akun</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 mh-400 p-3">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">PVTR-A</h5>
					</div>
					<div class="card-price">
						<div class="h3 text-qw-primary d-flex align-items-center fw-bold">
							<span class="rp-heading-small me-1 align-self-start">Rp</span>
							193.000
							<span
								class="fw-bold rp-heading-small align-self-end text-dark ms-1"
							>
								/ bulan</span
							>
						</div>
					</div>
					<div class="card-description mb-4">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png"
								/>
							</div>
							<div class="label-spec">
								<div>Disk Space 6 GB</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Bandwidth.png
								alt="Bandwidth.png" />
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">500 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/core.png alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Akun Hosting</div>
								<h6 class="fw-bold">10 Akun</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card border-0 shadow-lg rounded-4 mh-400 bg-qw-gradient-primary text-white p-3">
					<div class="card-heading mb-2">
						<h5 class="fw-bold">WireHome Fiber Up to 1 Gbps</h5>
					</div>
					<div class="card-description">
						<div class="my-4">Punya Request Khusus?
							Kami Punya Paket Spesial
							Hubungi Tim Sales Kami
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-white-qw-primary">Call Sales</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
