<section id="commitment">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2>Apa yang Membuat Qwords <span class="text-qw-primary">Berbeda</span> dari yang Lain?</h2>
                <p class="mx-auto my-4">
                    Sebagai perusahaan penyedia Nama Domain, Cloud Hosting, dan Server
                    terbaik di Indonesia, Qwords memberikan pengalaman terbaik bagi
                    pelanggan, layanan bantuan responsif, jaminan keamanan, serta
                    software dan teknologi terupdate.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-5 text-md-start text-center">
                <div class="icon-wrapper mb-3 mx-sm-0 mx-auto">
                    <img src=@@webRoot/assets/images/icons/commit/cs.png alt="cs.png" />
                </div>
                <h4 class="fw-bold">Uptime Network diatas 99,99%</h4>
                <p class="mx-sm-0 mx-auto">
                    Dengan konfigurasi server yang tepat. Didukung manajemen jaringan dan multiple upstream tier 1 provider network serta multiple peering.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-5 text-md-start text-center">
                <div class="icon-wrapper mb-3 mx-sm-0 mx-auto">
                    <img
                        src=@@webRoot/assets/images/icons/commit/manual.png
                        alt="guide.png"
                    />
                </div>
                <h4 class="fw-bold">Unmetered Bandwidth</h4>
                <p class="mx-sm-0 mx-auto">
                    Unmetered bandwidth memberikan kepuasan bagi pelanggan agar websitenya bisa dibuka kapanpun dari seluruh penjuru dunia tanpa khawatir kehabisan kuota traffic.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-5 text-md-start text-center">
                <div class="icon-wrapper mb-3 mx-sm-0 mx-auto">
                    <img
                        src=@@webRoot/assets/images/icons/commit/uptime.png
                        alt="uptime.png"
                    />
                </div>
                <h4 class="fw-bold">Layanan Bantuan Pelanggan 24 jam</h4>
                <p class="mx-sm-0 mx-auto">
                    Technical Support & Customer Service Qwords siap membantu Anda selama 24 jam melalui layanan terpadu Live chat, Call Center, dan Support Ticket.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-5 text-md-start text-center">
                <div class="icon-wrapper mb-3 mx-sm-0 mx-auto">
                    <img
                        src=@@webRoot/assets/images/icons/commit/jaminan.png
                        alt="Jaminan keamanan.png"
                    />
                </div>
                <h4 class="fw-bold">Private Data Center Tier 3</h4>
                <p class="mx-sm-0 mx-auto">
                    Qwords memiliki Data Center Private Tier 3 di Jakarta dengan full 24/7 monitoring Network Operation Center
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-5 text-md-start text-center">
                <div class="icon-wrapper mb-3 mx-sm-0 mx-auto">
                    <img
                        src=@@webRoot/assets/images/icons/commit/clustered.png
                        alt="Clustered DNS.png"
                    />
                </div>
                <h4 class="fw-bold">Total Security Protection</h4>
                <p class="mx-sm-0 mx-auto">
                    Total Security Protection dari imunify360 yang melindungi server dari serangan DDOS, brute force, hack, dsb.
                </p>
            </div>
        </div>
    </div>
</section>