<section id="main-banner">
	<div id="shape-cloud">
		<img src=@@webRoot/assets/images/shapes/Intersect.png alt="shape.png" />
	</div>
	<div id="shape-cloud-2">
		<img src=@@webRoot/assets/images/shapes/Intersect.png alt="shape.png" />
	</div>
	<div class="container-fluid">
		<div class="row vh-70 align-items-center justify-content-center">
			<div class="col-12 col-lg-8">
				<div class="text-center py-5">
					<h1>
						<span class="text-qw-primary">Cloud Hosting</span> Indonesia
						dengan Pelayanan Terbaik
					</h1>
					<div class="d-flex justify-content-center mb-5">
						<p class="mb-0 mt-3">
							Cloud Hosting Indonesia dengan pelayanan terbaik dan harga
							murah serta diskon nama domain.
						</p>
					</div>
					<button class="btn btn-lg-cta px-5">Cek Sekarang</button>
				</div>
			</div>
		</div>
	</div>
</section>