<section id="broadband">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10">
				<div class="broadband-banner">
					<div class="broadband-text">
						<div class="mx-auto">
							<div class="mb-2">Mau internet cepat, anti-ngelag?</div>
							<div class="fw-bolder mb-4">
								Pakai Qwords Internet Broadband Discount hingga 20%
							</div>
							<button class="btn btn-cta">Lihat Selengkapnya</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>