<section id="commitment">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6 text-center">
				<h2>Komitmen Qwords</h2>
				<p class="mx-auto my-4">
					Berbagai Alasan Mengapa Pelanggan memilih Qwords
				</p>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img src=@@webRoot/assets/images/icons/commit/cs.png alt="cs.png" />
				</div>
				<h4 class="fw-bold">Layanan 24/7</h4>
				<p>
					Tim Technical Support dan Customer Service Qwords siap membantu
					Anda selama 24 jam, 7 hari. Anda dapat menghubungi melalui Live
					chat, Call Center, dan Support Ticket.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/manual.png
						alt="guide.png"
					/>
				</div>
				<h4 class="fw-bold">Panduan Manual Lengkap</h4>
				<p>
					Qwords dilengkapi dengan halaman knowledge base yang berisi
					tutorial dan tips seputar pengelolaan website. Dapat diakses
					dengan mudah dan solutif.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/uptime.png
						alt="uptime.png"
					/>
				</div>
				<h4 class="fw-bold">Up time 99.99%</h4>
				<p>
					Uptime Network & Server di atas 99. 99% dengan konfigurasi server
					yang tepat. Didukung manajemen jaringan dan multiple upstream tier
					1 provider network serta multiple peering.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/jaminan.png
						alt="Jaminan keamanan.png"
					/>
				</div>
				<h4 class="fw-bold">Jaminan keamanan</h4>
				<p>
					Keamanan menjadi fokus utama kami di Qwords. Tindakan pemantauan
					dan pencegahan yang berstandar & berkelanjutan telah menjadi
					perhatian utama kami.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/clustered.png
						alt="Clustered DNS.png"
					/>
				</div>
				<h4 class="fw-bold">Clustered DNS</h4>
				<p>
					DNS Server Cloud Hosting Qwords terhubung satu dengan yang
					lainnya. Hal ini membuat DNS Server akan selalu dapat di akses
					karena saling membackup antar server.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/hep.png
						alt="High Enterprise Server.png"
					/>
				</div>
				<h4 class="fw-bold">High Enterprise Server</h4>
				<p>
					Standar server Qwords adalah server kelas enterprise Dual Xeon
					Octa Core yang merupakan hardware kelas terbaik. Hardware ini
					biasa digunakan oleh perusahaan terkemuka.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/tier.png
						alt="Tier 1 Network.png"
					/>
				</div>
				<h4 class="fw-bold">Tier 1 Network</h4>
				<p>
					Tier 1 Network merupakan jaringan dunia tanpa transit network,
					yang membuat jaringan lebih cepat serta jalur routing yang lebih
					pendek dan ketersediaan backup network.
				</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-5">
				<div class="icon-wrapper mb-3">
					<img
						src=@@webRoot/assets/images/icons/commit/peer.png
						alt="Peering Network.png"
					/>
				</div>
				<h4 class="fw-bold">Peering Network</h4>
				<p>
					Jaringan di Qwords terhubung langsung ke public peering seperti
					OpenIXP dan CDIX yang membuat latency atau waktu tunggu pengiriman
					data semakin kecil.
				</p>
			</div>
		</div>
	</div>
</section>