<section id="covered">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-lg-6 text-center mb-3 mb-lg-4">
				<h2>Diliput oleh</h2>
			</div>
			<div class="col-12 text-center">
				<div class="image-list">
					<img
						src="./assets/images/icons/liputan/Detikcom.png"
						alt="Detikcom.png"
					/>
					<img
						src="./assets/images/icons/liputan/Liputan6.png"
						alt="Liputan6.png"
					/>
					<img
						src="./assets/images/icons/liputan/TribunJogja.png"
						alt="TribunJogja.png"
					/>
					<img
						src="./assets/images/icons/liputan/antara.png"
						alt="antara.png"
					/>
					<img
						src="./assets/images/icons/liputan/RM.png"
						alt="RM.png"
					/>
					<img
						src="./assets/images/icons/liputan/KoranBernas.png"
						alt="KoranBernas.png"
					/>
				</div>
				<div class="mt-4">
					<a href="#" class="text-qw-primary text-decoration-none fw-bolder"
						>Lihat Semua Liputan</a
					>
				</div>
			</div>
		</div>
	</div>
</section>