<section id="customer-partner">
	<div class="container-fluid">
		<div class="row justify-content-center mb-3 mb-lg-5">
			<div class="col-12 text-center mb-3 mb-lg-5">
				<h2>Telah Dipercaya oleh 45.000+ Pelanggan Aktif</h2>
			</div>
			<div class="col-12 text-center">
				<div class="image-list">
					<img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/Cimory.png
					alt="Cimory.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/Forisa.png
					alt="Forisa.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/Elsheskin.png
					alt="Elsheskin.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/Icon.png
					+.png alt="Icon +.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/Horison.png
					alt="Horison.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Pelanggan/MD.png
					Pictures.png alt="MD Pictures.png.png" />
				</div>
				<a href="#" class="text-qw-primary fw-bold text-decoration-none"
					>Lihat Semua Pelanggan</a
				>
			</div>
		</div>
		<div class="row justify-content-center pt-3 pt-lg-5">
			<div class="col-12 text-center mb-3 mb-lg-4">
				<h2>Partner Kami</h2>
			</div>
			<div class="col-12">
				<div class="image-list">
					<img src=@@webRoot/assets/images/icons/partner-customer/Partner/Google.png alt="Google Cloud.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Partner/Cpanel.png
					alt="Cpanel.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Partner/Idea.png
					alt="Idea.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Partner/Archi.png
					alt="Archi.png" /> <img
					src=@@webRoot/assets/images/icons/partner-customer/Partner/dotid.png
					alt="dotid.png" />
				</div>
			</div>
		</div>
	</div>
</section>
