<section id="featured-card">
	<div class="container-fluid">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8">
				<h2>
					Cloud Hosting
					<span class="text-qw-primary">Diskon Hingga 60%</span>
				</h2>
				<p class="my-4">
					Layanan unggulan dengan teknologi terbaik untuk website anda
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<p class="mb-2">Value Hybrid Performance</p>
						<h5 class="fw-bold">VHP1</h5>
					</div>
					<div class="card-price">
						<s class="text-muted">Rp 24.500</s>
						<h4 class="fw-bold text-qw-primary">Rp 14.500*</h4>
					</div>
					<div class="card-description">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Disk</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png"
								/>
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">Unlimited</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/core.png
									alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Core CPU</div>
								<h6 class="fw-bold">0.5 Core</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Addon / parked domain</div>
								<h6 class="fw-bold">No</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<p class="mb-2">Unlimited Hosting</p>
						<h5 class="fw-bold">Signature</h5>
					</div>
					<div class="card-price">
						<p class="text-muted mb-0">Mulai dari</p>
						<h3 class="fw-bold text-qw-primary">Rp 599.000*</h3>
					</div>
					<div class="card-description">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Disk</div>
								<h6 class="fw-bold">45 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png"
								/>
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">Unlimited</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/core.png
									alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Core CPU</div>
								<h6 class="fw-bold">1 Core</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Addon / parked domain</div>
								<h6 class="fw-bold">Unlimited</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<p class="mb-2">High Performance</p>
						<h5 class="fw-bold">HPCH Bisnis 1</h5>
					</div>
					<div class="card-price">
						<s class="text-muted">Rp 99.000</s>
						<h3 class="fw-bold text-qw-primary">Rp 84.900*</h3>
					</div>
					<div class="card-description">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Disk</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png"
								/>
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">Unlimited</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/core.png
									alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Core CPU</div>
								<h6 class="fw-bold">1 Core</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Addon / parked domain</div>
								<h6 class="fw-bold">5 / 5</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-3">
				<div class="card p-3 border-0 shadow-lg rounded-4">
					<div class="card-heading mb-2">
						<p class="mb-2">Cloud VPS KVM SSD</p>
						<h5 class="fw-bold">VPS SC1</h5>
					</div>
					<div class="card-price">
						<s class="text-muted">Rp 99.000</s>
						<h3 class="fw-bold text-qw-primary">Rp 69.000*</h3>
					</div>
					<div class="card-description">
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Disk.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Disk</div>
								<h6 class="fw-bold">3 GB</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/Bandwidth.png
									alt="Bandwidth.png"
								/>
							</div>
							<div class="label-spec">
								<div>Bandwith</div>
								<h6 class="fw-bold">Unlimited</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img
									src=@@webRoot/assets/images/icons/core.png
									alt="core.png"
								/>
							</div>
							<div class="label-spec">
								<div>Core CPU</div>
								<h6 class="fw-bold">1 Core</h6>
							</div>
						</div>
						<div class="d-flex align-items-center mt-3">
							<div class="icon-wrapper me-3 mb-2">
								<img src=@@webRoot/assets/images/icons/Addon.png alt="disk.png" />
							</div>
							<div class="label-spec">
								<div>Addon / parked domain</div>
								<h6 class="fw-bold">No</h6>
							</div>
						</div>
					</div>
					<div class="d-grid mt-auto">
						<button class="btn btn-cta">Pesan Sekarang</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>