<section id="subscribe-newsletter">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-12">
				<div class="subscribe-banner">
					<h2 class="fw-bold mb-4 text-center">
						Subscribe dan
						<span class="text-qw-primary">Dapatkan Diskon!</span>
					</h2>
					<form action="#" class="row w-100 align-items-center">
						<div class="col-12 col-sm-8 col-lg-10 mb-3 mb-sm-0 mb-lg-0">
							<input
								type="text"
								class="form-control border-0"
								placeholder="Masukkan emailmu"
							/>
						</div>
						<div class="col-12 col-sm-4 col-lg-2">
							<div class="d-grid">
								<button class="btn btn-cta fw-light">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>