<section id="testimonial">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-lg-6 text-center">
				<h2>Apa Kata Mereka?</h2>
				<p>
					Apa kata mereka yang sudah menggunakan layanan Qwords? Simak
					pengalaman mereka yang telah membuktikan sendiri fitur dari
					layanan kami.
				</p>
			</div>
		</div>
		<div class="row justify-content-center align-items-center my-5">
			<div class="order-1 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="header-quote">
					<h5>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Elementum pharetra mauris volutpat lacinia lacus. Tortor justo,
						interdum sodales orci nunc.
					</h5>
				</div>
				<div class="quote-details">
					<p class="fst-italic">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
						cras vestibulum pellentesque nam in morbi cras quis. Elit velit
						vivamus proin tellus morbi eget enim. Id quis in duis pretium.
						Id nibh tincidunt nisl, sagittis.
					</p>
				</div>
				<div class="author-name ms-5">
					<h6 class="d-inline me-3">Daniel</h6>
					<span class="small text-muted">President of KGM Theatrical</span>
				</div>
				<div class="d-grid gap-2 mt-auto">
					<a
						href="#"
						class="text-qw-primary ms-5 me-2 text-decoration-none fw-bold my-3"
						>Lihat Video Selengkapnya</a
					>
				</div>
			</div>
			<div class="order-2 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
			<div class="order-3 order-lg-4 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="header-quote">
					<h5>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Elementum pharetra mauris volutpat lacinia lacus. Tortor justo,
						interdum sodales orci nunc.
					</h5>
				</div>
				<div class="quote-details">
					<p class="fst-italic">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
						cras vestibulum pellentesque nam in morbi cras quis. Elit velit
						vivamus proin tellus morbi eget enim. Id quis in duis pretium.
						Id nibh tincidunt nisl, sagittis.
					</p>
				</div>
				<div class="author-name ms-5">
					<h6 class="d-inline me-3">Daniel</h6>
					<span class="small text-muted">President of KGM Theatrical</span>
				</div>
				<div class="d-grid gap-2 mt-auto">
					<a
						href="#"
						class="text-qw-primary ms-5 me-2 text-decoration-none fw-bold my-3"
						>Lihat Video Selengkapnya</a
					>
				</div>
			</div>
			<div class="order-4 order-lg-3 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
			<div class="order-5 order-lg-6 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="header-quote">
					<h5>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Elementum pharetra mauris volutpat lacinia lacus. Tortor justo,
						interdum sodales orci nunc.
					</h5>
				</div>
				<div class="quote-details">
					<p class="fst-italic">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
						cras vestibulum pellentesque nam in morbi cras quis. Elit velit
						vivamus proin tellus morbi eget enim. Id quis in duis pretium.
						Id nibh tincidunt nisl, sagittis.
					</p>
				</div>
				<div class="author-name ms-5">
					<h6 class="d-inline me-3">Daniel</h6>
					<span class="small text-muted">President of KGM Theatrical</span>
				</div>
				<div class="d-grid gap-2 mt-auto">
					<a
						href="#"
						class="text-qw-primary ms-5 me-2 text-decoration-none fw-bold my-3"
						>Lihat Video Selengkapnya</a
					>
				</div>
			</div>
			<div class="order-6 order-lg-5 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
		</div>
	</div>
</section>