<section id="uh-banner">
	<div class="container-fluid">
		<div class="vh-70 row justify-content-center align-items-center">
			<div class="order-2 order-md-1 col-12 col-sm-6 col-lg-6">
				<h1 class="mb-3 mb-lg-4">Google Workspace (G Suite)</h1>
                <p>Google Workspace (G Suite atau yang dulu bernama Google Apps) adalah suatu layanan dari Google yang menyediakan beberapa versi dari produk-produk Google yang dapat di sesuaikan dan independen menggunakan nama domain milik pelanggan.</p>
				<p class="mb-lg-5">
					G Suite terdiri dari beberapa aplikasi yang berbasis Web untuk mendukung kegiatan perkantoran, antara lain Gmail, Hangout, Google Calendar, Drive, Docs, Sheets, Slides, Groups, News, Play, Sites, dan Vault.
				</p>
				<button class="btn btn-cta py-2 rounded-pill fw-normal px-5">
					Mulai Sekarang
				</button>
			</div>
			<div class="order-1 order-md-2 col-12 col-sm-6 col-lg-5 my-5">
				<div class="image-wrapper mx-auto ms-lg-auto"></div>
			</div>
		</div>
	</div>
</section>