<section id="payment">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8 text-center mb-3 mb-lg-4">
				<h4 class="fw-bold">
					Pilih metode e-paymen otomatis. Layanan Domain, Hosting, VPS langsung
					aktif tanpa perlu konfirmasi bayar.
				</h4>
			</div>
			<div class="col-12 text-center">
				<div class="img-wrapper">
					<img src=@@webRoot/assets/images/all-payment.png alt="payment.png" />
				</div>
				<div class="mt-4">
					<a href="#" class="text-qw-primary fw-bold text-decoration-none"
						>Lihat Panduan Pembayaran</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
