<section id="testimonial" class="bg-qw-soft-primary-1">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center mb-5">
			<div class="col-12 text-center">
				<h2>Kenapa Menggunakan <span class="text-qw-primary">Google Workspace</span>?</h2>
				<p>
					Kerja bersama dengan G Suite. Dapatkan Gmail, Dokumen, Drive, Kalender, Meet, dan lainnya untuk bisnis.
				</p>
			</div>
		</div>
		<div class="row justify-content-center align-items-center my-4">
			<div class="order-1 order-lg-1 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="my-3">
					<h5 class="fw-bolder">
						Dapatkan Gmail untuk bisnis
					</h5>
				</div>
				<p>Ini adalah Gmail yang Anda kenal dan sukai yang dirancang untuk bisnis, dengan kontrol admin dan tanpa iklan. Tukar @ gmail.com dengan domain Anda sendiri untuk membuat alamat email profesional seperti namaanda@example.com atau sales@example.com.</p>
			</div>
			<div class="order-2 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
			<div class="order-3 order-lg-4 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="my-3">
					<h5 class="fw-bolder">
						Bertemu dengan aman dari mana saja
					</h5>
				</div>
				<p>Buat tim Anda tetap terhubung dengan konferensi video premium yang dibangun di atas infrastruktur global Google yang kuat dan aman. Meet disertakan dengan G Suite dan G Suite untuk Pendidikan.</p>
			</div>
			<div class="order-4 order-lg-3 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
		</div>
		<div class="row justify-content-center align-items-center my-4">
			<div class="order-1 order-lg-1 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="my-3">
					<h5 class="fw-bolder">
						Bekerja lebih cepat dan lebih cerdas
					</h5>
				</div>
				<p>Berkolaborasi pada file dalam waktu nyata, temukan ruang di kalender semua orang dengan cepat, dan lakukan rapat dari mana saja. G Suite memiliki alat untuk meningkatkan produktivitas Anda.</p>
			</div>
			<div class="order-2 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
			<div class="order-3 order-lg-4 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="my-3">
					<h5 class="fw-bolder">
						Keamanan ada di dalamnya
					</h5>
				</div>
				<p>Manfaatkan infrastruktur aman yang sama dengan yang digunakan Google. Data, perangkat, dan pengguna Anda dilindungi dan semua file Anda secara otomatis dicadangkan di cloud. Dengan G Suite, Anda yang mengontrol.</p>
			</div>
			<div class="order-4 order-lg-3 col-12 col-lg-6 mb-3 mb-lg-5">
				<div class="img-wrapper rounded-4 p-3"></div>
			</div>
		</div>
	</div>
</section>